<!DOCTYPE html>
<html>
<head>
  <title>Real Estate Manager</title>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Real Estate Manager</h1>

<%= yield %>
<br><br>


</body>
</html>

<!--
 stylesheet_link_tag    "application", :media => "all"
 javascript_include_tag "application"
-->