<!DOCTYPE html>
<html>
<head>
  <title>Real Estate Manager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= csrf_meta_tags %>

</head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
<body>
<!--<h1>Real Estate Manager</h1>-->

<nav class="navbar navbar-dark" style="background-color: darkslategrey;margin: 10px">
  <a class="navbar-brand text-center" href="#">House Selling And Buying Tracking System</a>
</nav>

<%= yield %>
<br><br>

</body>
</html>
